body{font-family: 'Roboto', sans-serif ;}

.footer, .part1{background-color: #1f2937;}

.hero{font-size: 48px;
color: #f9faf8;
font-weight: 900;
margin: 0;
}

.hero2 , .links{font-size: 18px;
color: #e5e7eb;}

.logo{font-size: 24px;
color: #f9faf8;}

.button{background-color: #3882f6;
color: #f9faf8;
padding: 10px 20px;
border: none;
border-radius: 5px;
text-align: center;
margin: 0px;
}

.info{font-size: 36px;
color: #1f2937;
font-weight: 900;
}

.part3{background-color: #e5e7eb ;}

.paragraph{font-size: 36px;
color: #1f2937;
font-weight: 300;}

.card{color: #f9faf8;
background-color: gray;
text-align: center;
padding: 100px;
}

.links{display: flex;
gap: 14px;}

.header{display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 50px;
}

.bigcon{display: flex;
    justify-content:space-around;
    padding: 60px;
    align-items: center;
}

.smallcon{display: flex;
flex-basis: 600px;
flex-direction: column;
align-items: start;
}

