body{font-family: 'Roboto', sans-serif ;}

.footer, .part1{background-color: #1f2937;}

.hero{font-size: 48px;
color: #f9faf8;
font-weight: 900;
}

.hero2 , .links{font-size: 18px;
color: #e5e7eb;}

.logo{font-size: 24px;
color: #f9faf8;}

.button{background-color: #3882f6;
color: #f9faf8;
padding: 10px 20px;
/* margin: 10px 20px; */
border: none;
border-radius: 5px;
text-align: center;
}

.info{font-size: 36px;
color: #1f2937;
font-weight: 900;
}

.part3{background-color: #e5e7eb ;}

.paragraph{font-size: 36px;
color: #1f2937;
font-weight: 300;}