body{font-family: 'Roboto', sans-serif ;}

.footer, .part1{background-color: #1f2937;}

.hero{font-size: 48px;
color: #f9faf8;
font-weight: 900;
margin: 0;
}

.hero2 , .links{font-size: 18px;
color: #e5e7eb;}

.logo{font-size: 24px;
color: #f9faf8;}

.button{background-color: #3882f6;
color: #f9faf8;
padding: 10px 20px;
border: none;
border-radius: 5px;
text-align: center;
margin: 0px;
}

.info{font-size: 36px;
color: #1f2937;
font-weight: 900;
text-align: center;
}

.part3{background-color: #e5e7eb ;}

.paragraph{font-size: 36px;
font-style: italic;
color: #1f2937;
font-weight: 300;
max-width: 800px;}

.card{color: #f9faf8;
background-color: gray;
text-align: center;
padding: 100px;
}

.links{display: flex;
gap: 14px;}

.header{display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 50px;
}

.bigcon{display: flex;
    justify-content:space-around;
    padding: 60px;
    align-items: center;
}

.smallcon{display: flex;
flex-basis: 600px;
flex-direction: column;
align-items: start;
}

.box{width: 150px;
height: 150px;
border: #3882f6;
border-style:solid;
border-radius: 15px;
}

.con2{ display: flex;
flex-direction: column;
flex-basis: 150px;
gap:10px;
align-items: center;
}

.p2con{display: flex;
justify-content: center;
text-align: center;
gap: 50px;
margin-bottom: 50px;}

.part3{display: flex;
flex-direction: column;
align-items: center;
padding: 50px;
}

.Quoter{padding-left: 500px;}

.part4{padding: 100px 200px;
flex-wrap: wrap;}

.button4{display: flex;
margin: 24px;
align-items: center;
justify-content: space-around;
}

.text4{text-align: start;}

.signup{border-radius: 5px;
border:#e5e7eb;
border-style:solid;
padding: 0px 40px;
margin: 0px;
/* fix margin on button */
}

.footer{display: flex;
color: #f9faf8;
justify-content:center;
padding: 20px;}